.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
    transition: all ease-in 0.5s;

    img {
        width: auto;
        height: 350px;
        border-radius: 10px;
        transition: all ease-in 0.5s;
        max-width: 600px;
    }

    .right-arrow {
        display: block;
        position: absolute;
        top: 40%;
        right: 200px;
        font-size: 3rem;
        color: #000;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }

    .left-arrow {
        display: block;
        position: absolute;
        top: 40%;
        left: 200px;
        font-size: 3rem;
        color: #000;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }

    .slide {
        opacity: 0;
        transition-duration: 1s ease;
    }

    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 600px;
    }
}

h2 {
    margin: 50px 0 -50px;
    text-align: center;
    font-size: 30pt;
}

h3 {
    font-size: 18pt;
}
