.projects {
    //padding-top: 25px;
    //padding-bottom: 100px;
    background-color: #cfd4f4;

    h2 {
        font-size: 32pt;
        margin-bottom: 10px;
    }
}

.projects-container {
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-left: 50px;
    display: flex;
}

.projects-container.upcoming {
    padding-bottom: 100px;
}
